In [63]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-2.1.1-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from xgboost) (2.1.1)
Collecting scipy (from xgboost)
  Downloading scipy-1.14.1-cp310-cp310-win_amd64.whl.metadata (60 kB)
Downloading xgboost-2.1.1-py3-none-win_amd64.whl (124.9 MB)
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   -- ------------------------------------- 7.9/124.9 MB 48.7 MB/s eta 0:00:03
   ----- ---------------------------------- 18.4/124.9 MB 50.4 MB/s eta 0:00:03
   --------- ------------------------------ 30.9/124.9 MB 54.6 MB/s eta 0:00:02
   ------------- -------------------------- 41.7/124.9 MB 53.0 MB/s eta 0:00:02
   ---------------- ----------------------- 51.1/124.9 MB 50.9 MB/s eta 0:00:02
   ------------------- -------------------- 59.5/124.9 MB 49.2 MB/s eta 0:00:02
   ---------------------- ----------------- 70.3/124.9 MB 49.8 MB/s eta 0:00:02
   ------------------------ --------------- 75.5/124.9 MB 46.8 MB/s eta 0:00:02
   --------------------------- ------------ 85.2/124.9 MB 46.1 MB/s eta 0:00:01
   ------------------------------- -------- 97.0/124.9 MB 47.3 MB/s eta 0:00:01
   ---------------------------------- ---- 109.8/124.9 MB 48.4 MB/s eta 0:00:01
   --------------------------------------  121.9/124.9 MB 49.6 MB/s eta 0:00:01
   --------------------------------------  124.8/124.9 MB 49.8 MB/s eta 0:00:01
   --------------------------------------- 124.9/124.9 MB 43.4 MB/s eta 0:00:00
Downloading scipy-1.14.1-cp310-cp310-win_amd64.whl (44.8 MB)
   ---------------------------------------- 0.0/44.8 MB ? eta -:--:--
   ------ --------------------------------- 7.3/44.8 MB 56.6 MB/s eta 0:00:01
   ------------------ --------------------- 20.2/44.8 MB 47.2 MB/s eta 0:00:01
   --------------------------- ------------ 30.4/44.8 MB 48.2 MB/s eta 0:00:01
   ----------------------------------- ---- 39.6/44.8 MB 46.6 MB/s eta 0:00:01
   ---------------------------------------  44.6/44.8 MB 48.1 MB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 MB 41.9 MB/s eta 0:00:00
Installing collected packages: scipy, xgboost
Successfully installed scipy-1.14.1 xgboost-2.1.1
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv(r"Datos Completos\Octubre-Abril.csv", sep= "\t", parse_dates=["PoC AB12"], dayfirst=True)
df.columns = ["Date","Pax"]
df = df.iloc[4:,:].reset_index(False)
df = df.drop("index", axis=1)

df["Date"] = pd.to_datetime(df["Date"],  format="%d-%m-%Y %H:%M:%S")
df["Pax"] = pd.to_numeric(df["Pax"])

In [18]:
df_prod = pd.read_csv(r"C:\Users\Victor\Desktop\Datathon\20240927 Reto UniversityHack 2024\Datos cultivos productivos\Fases producción v02.csv", sep = ";", encoding="ANSI")
df_prod

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,ID Centrífuga,Centrifugación 1 turbidez,Centrifugación 2 turbidez,Producto 1,Producto 2,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,23019,1,NaN,14615,2023-03-21 07:30:00,2023-03-23 06:30:00,"82,4","17,3","91,2","1,84E+08",17825,NaN,NaN,"1747,9","6,0",NaN,NaN,NaN
1,23020,1,NaN,14616,2023-03-21 07:30:00,2023-03-23 06:30:00,"80,4","18,8","91,2","1,82E+08",14246,NaN,NaN,"1676,2","6,6",NaN,NaN,NaN
2,23021,1,NaN,13170,2023-03-22 07:30:00,2023-03-24 06:30:00,"66,4","16,2","86,4","2,48E+08",17825,NaN,NaN,"1928,5","8,1",NaN,NaN,NaN
3,23022,1,NaN,14614,2023-03-22 07:30:00,2023-03-24 06:30:00,"85,6","18,5","83,2","2,30E+08",12912,NaN,NaN,"1782,8","5,9",NaN,NaN,NaN
4,23023,1,NaN,14615,2023-03-28 07:27:00,2023-03-30 10:00:00,"77,6","17,1","74,4","1,33E+08",17825,"26,6","20,9","1861,8","3,0",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,24049,1,NaN,14617,2024-03-16 09:22:00,2024-03-18 08:23:00,84,19,73,"1,65E+08",12912,31,17,"1342,8","4,9",NaN,NaN,NaN
148,24050,1,NaN,14614,2024-03-23 08:57:00,2024-03-25 08:28:00,84,18,68,"1,52E+08",6379,29,27,"1422,8","3,7",NaN,NaN,NaN
149,24051,1,NaN,13169,2024-03-23 08:57:00,2024-03-25 08:33:00,84,18,81,"1,61E+08",12912,33,19,"1486,6","5,5",NaN,NaN,NaN
150,24052,2,24050.0,14614,2024-03-25 13:28:00,2024-03-27 08:51:00,86,17,69,"1,48E+08",14246,24,18,"1857,3","6,0",NaN,NaN,NaN
151,24053,2,24051.0,13169,2024-03-25 12:27:00,2024-03-27 08:27:00,87,17,79,"1,48E+08",12912,27,19,"1784,1","7,2",NaN,NaN,NaN

In [24]:
df_prod["Fecha/hora inicio"] = pd.to_datetime(df_prod["Fecha/hora inicio"],  format="%Y-%m-%d %H:%M:%S")
df_prod["Fecha/hora fin"] = pd.to_datetime(df_prod["Fecha/hora fin"],  format="%Y-%m-%d %H:%M:%S")

In [58]:
# df_prod["Volumen de inóculo utilizado"] =df_prod["Volumen de inóculo utilizado"].str.replace(",",".")
# df_prod["Turbidez inicio cultivo"] =df_prod["Turbidez inicio cultivo"].str.replace(",",".")
# df_prod["Turbidez fin cultivo"] =df_prod["Turbidez fin cultivo"].str.replace(",",".")
# df_prod["Viabilidad final cultivo"] =df_prod["Viabilidad final cultivo"].str.replace(",",".")
df_prod["Centrifugación 1 turbidez"] =df_prod["Centrifugación 1 turbidez"].str.replace(",",".")
df_prod["Centrifugación 2 turbidez"] =df_prod["Centrifugación 2 turbidez"].str.replace(",",".")
df_prod["Producto 1"] =df_prod["Producto 1"].str.replace(",",".")
df_prod["Producto 2"] =df_prod["Producto 2"].str.replace(",",".")

In [48]:
df_prod["Viabilidad final cultivo"] =df_prod["Viabilidad final cultivo"].str.upper()

In [55]:
df_prod.loc[67:67,"Viabilidad final cultivo"] = "1.82E+08"

In [59]:
# df_prod["Volumen de inóculo utilizado"] = pd.to_numeric(df_prod["Volumen de inóculo utilizado"])
# df_prod["Turbidez inicio cultivo"] = pd.to_numeric(df_prod["Turbidez inicio cultivo"])
# df_prod["Turbidez fin cultivo"] = pd.to_numeric(df_prod["Turbidez fin cultivo"])
# df_prod["Viabilidad final cultivo"] = pd.to_numeric(df_prod["Viabilidad final cultivo"])
df_prod["Centrifugación 1 turbidez"] = pd.to_numeric(df_prod["Centrifugación 1 turbidez"])
df_prod["Centrifugación 2 turbidez"] = pd.to_numeric(df_prod["Centrifugación 2 turbidez"])
df_prod["Producto 1"] = pd.to_numeric(df_prod["Producto 1"])
df_prod["Producto 2"] = pd.to_numeric(df_prod["Producto 2"])

In [60]:
df_prod.describe()

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,ID Centrífuga,Centrifugación 1 turbidez,Centrifugación 2 turbidez,Producto 1,Producto 2,Unnamed: 15,Unnamed: 16,Unnamed: 17
count,152.000000,152.000000,22.000000,152.000000,152,152,147.000000,152.000000,152.000000,1.520000e+02,152.000000,148.000000,143.000000,152.000000,152.000000,0.0,0.0,0.0
mean,23323.151316,1.177632,23571.818182,14120.802632,2023-10-07 01:19:58.421052672,2023-10-09 01:27:14.605263360,81.455102,18.035526,74.419079,1.701737e+08,15098.026316,30.068919,23.572727,1658.318421,6.121711,NaN,NaN,NaN
min,23019.000000,1.000000,23085.000000,13169.000000,2023-03-21 07:30:00,2023-03-23 06:30:00,66.400000,12.600000,42.800000,7.040000e+07,6379.000000,21.300000,9.800000,526.400000,2.800000,NaN,NaN,NaN
25%,23060.750000,1.000000,23112.250000,13170.000000,2023-07-04 07:30:00,2023-07-06 08:30:00,80.000000,16.400000,69.075000,1.480000e+08,13912.500000,26.450000,17.750000,1466.775000,5.075000,NaN,NaN,NaN
50%,23101.500000,1.000000,23567.500000,14614.000000,2023-10-24 07:00:00,2023-10-26 08:15:00,81.600000,17.800000,74.300000,1.655000e+08,14246.000000,28.600000,20.700000,1675.400000,6.100000,NaN,NaN,NaN
75%,24003.250000,1.000000,24034.750000,14616.000000,2024-01-16 16:53:45,2024-01-18 15:06:15,82.800000,18.800000,81.050000,1.922500e+08,17825.000000,30.525000,25.000000,1853.825000,7.100000,NaN,NaN,NaN
max,24053.000000,3.000000,24051.000000,14617.000000,2024-03-25 13:28:00,2024-03-27 08:51:00,88.000000,44.400000,91.200000,3.700000e+08,17825.000000,168.800000,157.000000,2395.400000,9.200000,NaN,NaN,NaN
std,416.714932,0.416577,472.657697,687.944111,NaN,NaN,2.238829,3.295862,8.933668,3.829632e+07,2256.995283,15.165858,17.221552,307.717039,1.407450,NaN,NaN,NaN

In [61]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   LOTE                          152 non-null    int64
 1   Orden en el encadenado        152 non-null    int64
 2   LOTE parental                 22 non-null     float64
 3   ID Bioreactor                 152 non-null    int64
 4   Fecha/hora inicio             152 non-null    datetime64[ns]
 5   Fecha/hora fin                152 non-null    datetime64[ns]
 6   Volumen de inóculo utilizado  147 non-null    float64
 7   Turbidez inicio cultivo       152 non-null    float64
 8   Turbidez fin cultivo          152 non-null    float64
 9   Viabilidad final cultivo      152 non-null    float64
 10  ID Centrífuga                 152 non-null    int64
 11  Centrifugación 1 turbidez     148 non-null    float64
 12  Centrifugación 2 turbidez     143 non-null    float64
 13  Producto 1                    152 non-null    float64
 14  Producto 2                    152 non-null    float64
 15  Unnamed: 15                   0 non-null      float64
 16  Unnamed: 16                   0 non-null      float64
 17  Unnamed: 17                   0 non-null      float64
dtypes: datetime64[ns](2), float64(12), int64(4)
memory usage: 21.5 KB

In [62]:
df_prod

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,ID Centrífuga,Centrifugación 1 turbidez,Centrifugación 2 turbidez,Producto 1,Producto 2,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,23019,1,NaN,14615,2023-03-21 07:30:00,2023-03-23 06:30:00,82.4,17.3,91.2,184000000.0,17825,NaN,NaN,1747.9,6.0,NaN,NaN,NaN
1,23020,1,NaN,14616,2023-03-21 07:30:00,2023-03-23 06:30:00,80.4,18.8,91.2,182000000.0,14246,NaN,NaN,1676.2,6.6,NaN,NaN,NaN
2,23021,1,NaN,13170,2023-03-22 07:30:00,2023-03-24 06:30:00,66.4,16.2,86.4,248000000.0,17825,NaN,NaN,1928.5,8.1,NaN,NaN,NaN
3,23022,1,NaN,14614,2023-03-22 07:30:00,2023-03-24 06:30:00,85.6,18.5,83.2,230000000.0,12912,NaN,NaN,1782.8,5.9,NaN,NaN,NaN
4,23023,1,NaN,14615,2023-03-28 07:27:00,2023-03-30 10:00:00,77.6,17.1,74.4,133000000.0,17825,26.6,20.9,1861.8,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,24049,1,NaN,14617,2024-03-16 09:22:00,2024-03-18 08:23:00,84.0,19.0,73.0,165000000.0,12912,31.0,17.0,1342.8,4.9,NaN,NaN,NaN
148,24050,1,NaN,14614,2024-03-23 08:57:00,2024-03-25 08:28:00,84.0,18.0,68.0,152000000.0,6379,29.0,27.0,1422.8,3.7,NaN,NaN,NaN
149,24051,1,NaN,13169,2024-03-23 08:57:00,2024-03-25 08:33:00,84.0,18.0,81.0,161000000.0,12912,33.0,19.0,1486.6,5.5,NaN,NaN,NaN
150,24052,2,24050.0,14614,2024-03-25 13:28:00,2024-03-27 08:51:00,86.0,17.0,69.0,148000000.0,14246,24.0,18.0,1857.3,6.0,NaN,NaN,NaN
151,24053,2,24051.0,13169,2024-03-25 12:27:00,2024-03-27 08:27:00,87.0,17.0,79.0,148000000.0,12912,27.0,19.0,1784.1,7.2,NaN,NaN,NaN